### python
*.pyc
python-client/build/
python-client/dist/
python-client/*.egg-info
Pipfile
Pipfile.lock

### IntelliJ
.idea/
.idea_modules/
/out/
*.iws
*.iml

### Mac
.DS_Store
examples/.DS_Store

### Git
.gitignore

